@import "./variables";

.historic-component, .homeComponent, .noticeboard-component {
  .loading {
    height: calc(100vh - 70px);
  }
  .messages-list {
    .message-card {
      display: flex;
      flex-direction: column;
      padding: 10px 20px;
      border-radius: 7px;
      &:hover {
        background: rgba(128, 128, 128, 0.05);
      }
      .content {
        text-align: justify;
      }
      .data {
        font-size: 14px;
        color: rgba(0, 0, 0, 0.4);
        a {
          color: $main-color;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      .bottom-part {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        margin-bottom: 10px;
        .btns button {
          padding: 3px 8px;
          font-size: 13px;
          opacity: 0.7;
          cursor: pointer;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
