.homeComponent {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  .messages-list {
    box-shadow: -5px 8px 10px 0px rgba(0, 0, 0, 0.2);
    width: 350px;
    position: absolute;
    right: 0px;
    height: calc(100vh - 70px);
    overflow-y: auto;
    overflow-x: hidden;
    .content {
      overflow-wrap: break-word;
    }
  }
  .centerComponent {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 500px;
    height: 350px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
    margin-right: 250px;
    .sliderComponent {
      display: flex;
      flex-direction: row;
      width: 1500px;
      height: 80%;
      transition: 0.3s ease-in-out;
      &--1 {
        transform: translateX(-500px);
      }
      &--2 {
        transform: translateX(-1000px);
      }
      .messageComponent {
        position: relative;
        width: 500px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        #msgArea {
          width: 83%;
          height: 190px;
          border: 2px solid rgb(102, 0, 204);
          resize: none;
          outline: none;
          border-radius: 8px;
          padding: 2%;
          font-family: sans-serif;
        }
        span {
          width: 74px;
          position: absolute;
          right: 46px;
          top: 70%;
          transform: translateY(-50%);
          height: 1.6rem;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 0.8rem;
          font-weight: bold;
          color: white;
          background: rgb(102, 0, 204);
          border-radius: 5px;
          text-align: center;
        }
        .submitButton {
          background-color: rgb(102, 0, 204);
          border-radius: 8px;
          border: none;
          color: white;
          font-weight: bold;
          padding: 7px 12px;
          margin: 20px 30px 0 0;
          cursor: pointer;
          font-size: 14px;
          align-self: flex-end;
          outline: none;
        }
      }
      .leftArrowContainer {
        position: absolute;
        top: 0;
        left: 20px;
        width: 25px;
        height: 25px;
        background-image: url(../assets/images/blackLeftArrow.png);
        background-size: 100%;
        background-repeat: no-repeat;
        cursor: pointer;
      }
      .soundSelectionContainer {
        width: 500px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        position: relative;
        .radioInputContainer {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          width: 200px;
          .radioContainer {
            display: flex;
            align-items: center;
            margin: 7px 0;
            input {
              opacity: 0;
              margin: 0;
              margin-right: -12px;
              cursor: pointer;
              &:checked ~ .checkmark {
                background-color: rgb(102, 0, 204);
                box-shadow: 0 0px 8px 0 rgba(102, 0, 204, 20%),
                  0 0px 20px 0 rgba(102, 0, 204, 20%);
              }
            }
            .checkmark {
              width: 13px;
              height: 13px;
              margin-right: 6px;
              background-color: rgb(202, 202, 202);
              border-radius: 50%;
            }
            label {
              cursor: pointer;
            }
          }
        }
        .radioContainer {
          display: flex;
          align-items: center;
          margin: 7px 0;
          input {
            &:last-child {
              opacity: 1;
            }
            opacity: 0;
            margin: 0;
            margin-right: -12px;
            cursor: pointer;
          }
          .personalSound {
            &:last-child {
              margin-top: -20px;
            }
            &::before {
              margin-top: 15px;
              visibility: visible;
              content: "+ Importer une alerte";
              display: inline-block;
              background-color: rgb(102, 0, 204);
              padding: 9px 21px;
              cursor: pointer;
              border-radius: 8px;
              font-weight: 700;
              color: white;
            }
            visibility: hidden;
            width: 200px;
          }
        }
        button {
          background-color: rgb(102, 0, 204);
          border-radius: 8px;
          border: none;
          color: white;
          font-weight: bold;
          padding: 7px 12px;
          margin: 12px 30px 0 0;
          cursor: pointer;
          font-size: 14px;
          align-self: flex-end;
          outline: none;
        }
      }
      .sendMsgContainer {
        width: 500px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        position: relative;
        #voiceList {
          border-radius: 4px;
          padding: 4px;
          border: 1px solid rgb(102, 0, 204);
          outline: none;
          cursor: pointer;
          appearance: none;
          background-image: url(../assets/images/blackDownArrow.png);
          background-position: right 5px top 50%;
          background-size: 9px;
          background-repeat: no-repeat;
          padding-right: 17px;
        }
        .sendMsgBtn {
          width: 85%;
          height: 100%;
          align-self: center;
          display: inline-block;
          font-size: 3em;
          margin: 30px 0;
          padding: 1em 2em;
          -webkit-appearance: none;
          appearance: none;
          background-color: #6600cc;
          color: #fff;
          border-radius: 4px;
          border: none;
          cursor: pointer;
          position: relative;
          transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
          box-shadow: 0 2px 25px rgb(102, 0, 204);
          &::before,
          &::after {
            position: absolute;
            content: "";
            display: block;
            width: 140%;
            height: 100%;
            left: -20%;
            z-index: -1000;
            transition: all ease-in-out 0.5s;
            background-repeat: no-repeat;
          }
          &::before {
            display: none;
            top: -75%;
            background-image: radial-gradient(
                circle,
                rgb(102, 0, 204) 20%,
                transparent 20%
              ),
              radial-gradient(
                circle,
                transparent 20%,
                rgb(102, 0, 204) 20%,
                transparent 30%
              ),
              radial-gradient(circle, rgb(102, 0, 204) 20%, transparent 20%),
              radial-gradient(circle, rgb(102, 0, 204) 20%, transparent 20%),
              radial-gradient(
                circle,
                transparent 10%,
                rgb(102, 0, 204) 15%,
                transparent 20%
              ),
              radial-gradient(circle, rgb(102, 0, 204) 20%, transparent 20%),
              radial-gradient(circle, rgb(102, 0, 204) 20%, transparent 20%),
              radial-gradient(circle, rgb(102, 0, 204) 20%, transparent 20%),
              radial-gradient(circle, rgb(102, 0, 204) 20%, transparent 20%);
            background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%,
              10% 10%, 15% 15%, 10% 10%, 18% 18%;
          }
          &::after {
            display: none;
            bottom: -75%;
            background-image: radial-gradient(
                circle,
                rgb(102, 0, 204) 20%,
                transparent 20%
              ),
              radial-gradient(circle, rgb(102, 0, 204) 20%, transparent 20%),
              radial-gradient(
                circle,
                transparent 10%,
                rgb(102, 0, 204) 15%,
                transparent 20%
              ),
              radial-gradient(circle, rgb(102, 0, 204) 20%, transparent 20%),
              radial-gradient(circle, rgb(102, 0, 204) 20%, transparent 20%),
              radial-gradient(circle, rgb(102, 0, 204) 20%, transparent 20%),
              radial-gradient(circle, rgb(102, 0, 204) 20%, transparent 20%);
            background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%,
              10% 10%, 20% 20%;
          }
          &:active {
            transform: scale(0.9);
            background-color: rgb(102, 0, 204);
            box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
          }
          &:focus {
            outline: 0;
          }
          &.animate {
            &::after {
              display: block;
              animation: bottomBubbles ease-in-out 0.75s forwards;
            }
            &::before {
              display: block;
              animation: topBubbles ease-in-out 0.75s forwards;
            }
          }
          &.unclickable {
            cursor: none;
            pointer-events: none;
          }
        }
      }
    }
  }
  .claimRewards {
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(
      221.06deg,
      var(--secondary-color) 0%,
      var(--secondary-color) 0.01%,
      var(--main-color) 100%
    );
    width: 450px;
    height: 80px;
    border-radius: 10px;
    padding: 10px 20px;
    color: white;
    p {
      &:first-of-type {
        font-size: 14px;
        opacity: 0.6;
      }
      &:last-of-type {
        font-size: 22px;
        font-weight: 600;
      }
    }
    img {
      height: 100%;
      width: auto;
    }
  }
}

@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
      40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
      50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
      50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
      70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
      105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
      110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
